<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Evento</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
</head>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Edição de Evento</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" th:object="${evento}" th:action="@{/evento/{id}(id=${evento.id})}" method="POST" style="margin: 10px">
            <div class="form-group">
                <fieldset>
                    <input type="hidden" class="form-control" th:field="*{id}"/><br>
                    <div class="form-group row">
                        <label>Título</label>
                        <input type="text" class="form-control input-sm" th:field="*{name}" maxlength="150" placeholder="Informe o nome do evento"/>
                    </div>
                    <div class="form-group row">
                        <label>Data início:</label>
                        <input type="date" class="form-control input-sm" th:field="*{startingDate}" />
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                <a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<div class="form-group row">
</body>
</html>
