<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${error}">
    <div>
        <span th:text="${error}" /><br />
    </div>
</div>
<form class="form-inline" method="POST" action="/login">
    <input type="text" class="form-control" placeholder="Username" name="username" id="username"/><br>
    <input type="password" class="form-control" placeholder="Password" name="password" id="password"/><br>
    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a href="/usuario/cadastro">Cadastrar-se</a>
</form>
</body>
</html>